<!doctype html>
<html>
	<head>
		<script src="libs/angular.min.js"></script>
		<script src="app/app.js"></script>
		<script src="monitoring/monitoring.controller.js"></script>
		<script src="configuring/configuring.controller.js"></script>
		<title>LMNTS</title>
	</head>

	<body ng-app="app">

		<div ng-controller="monitoringController">
			{{response}}
			<button ng-click="getData()">Get data!</button>
		</div>
		<div ng-controller="configuringController">
			{{response}}
			<button ng-click="postData()">Post data!</button>
		</div>
		
	</body>
</html>
